.auth-panel {
  h3 {
    margin: 0px;
    padding: 25px;
  }

  .socal-container {
    padding: 12.5px;
  }

  .facebook-btn-container {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }

  .btn.facebook-btn {
    position: relative;
    border-radius: 4px;
    background: #2960B1;
    text-transform: none;
    border-color: #2960B1;

    &:hover {
      background: #1f4a88;
      border-color: #1f4a88;
    }
  }
}

.auth-form-container {
  padding: 0px 25px;
  margin: 25px auto;
}
