.login {
  width: 100%;
}

.login-form {
  text-align: center;
  background-color: #fff;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px 5px;
}

.login-image {
  margin-bottom: 10px;
}
