#auth-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow: auto;
  position: fixed;
  background: #43525A;
}

#auth-row {
  margin: auto;
  display: block;
  margin-top: 50px;
}
