.admin-layout{
  $sidbar-width:150px;
  $sidbar-width-sm:60px;

  &__sidbar{
    display: inline-block;
    width:$sidbar-width;
    &.sm{
      width:$sidbar-width-sm;
    }
  }
  &__main{
    display: inline-block;
    width:-moz-calc(100% - 152px);
    width:-webkit-calc(100% - 152px);
    width: calc(100% - 152px);
  }
}
