.navbar {
  margin-bottom: 0 !important;

  &-toogle {
    border-color: gray !important;
  }

  &-focus {
    color: #3FB7EA !important;
    border-bottom-style: solid;
  }

  &-brand-logo {
    max-width:100px; 
    max-height:50px; 
    margin-top: -16px;
  }
}

.icon-bar {
  background-color: gray;
}

/*.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus{
  background-color: #B0B0B0;
  color: #3FB7EA !important;
  border-bottom-style: solid;
}*/

.navbar-default .navbar-nav > li > a:hover {
  background-color: #B0B0B0;
  color: #3FB7EA !important;
}

.freeTrial {
  color: #791E94 !important;
}
